.circle-indicator {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}

.circle {
  width: 5vw; /* 5% of the viewport width */
  height: 5vw; /* 5% of the viewport width */
  max-width: 50px; /* You can set a max size if you wish */
  max-height: 50px;
  min-width: 20px; /* And a min size */
  min-height: 20px;
  border-radius: 50%; /* Round shape */
  border: 1vw solid black; /* Border scales with viewport width */
  margin: 2vw; /* Space between circles also scales */
}

.solid {
  background-color: black;
}

.hollow {
  background-color: white;
}