.score {
  flex: 1; /* Distribute available space equally */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center the content horizontally */
  align-items: center; /* Center the content vertically */
  text-align: center;
  background-color: lightgray;
  margin: 10px;
  border-radius: 10px;
  color: white; /* Set text color to white */

  /* Gradient overlay */
  background-image: linear-gradient(
    135deg, /* Adjust the angle as needed */
    rgba(250, 250, 250, 0.27) 0%, /* Adjust the starting color and transparency */
    rgba(255, 255, 255, 0.075) 100% /* Adjust the ending color and transparency */
  );
}

.score {
  position: relative; /* Position the controls relative to the score div */
}

.score-controls {
  display: none;
  flex-direction: column;
  position: absolute; /* Position absolutely within the score div */
  bottom: 0; /* Align to the bottom of the score div */
  width: 100%; /* Fill the entire width of the score div */
  height: 50%; /* Initially have zero height */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  transition: height 0.3s; /* Add smooth transition effect */
}

.score:hover .score-controls {
  display: flex;
}

.score-controls button {
  flex: 1; /* The buttons fill the available space equally, taking up the lower half */
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
}