.scoreboard-container {
    display: flex;
    justify-content: space-between; /* Distribute items along the main axis */
    align-items: stretch; /* Expand items to fill the vertical space */
    height: 100vh;
    padding: 0 20px; /* Add horizontal padding to create space on the sides */
    box-sizing: border-box; /* Ensure padding is included in the total width */
  }
  
.center-container {
  flex: 1;
  flex-direction: column;
  justify-content: center; /* Center the content horizontally */
  align-items: top; /* Center the content vertically */
  display: flex;
  padding-bottom: 20px;
}

.team-scores-container {
  flex: 1;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: top; /* Center the content vertically */
  display: flex;
  height: 40%;
}

.timer-container {
  height: 60%;
  flex: 1;
  flex-direction: row;
  justify-content: center; /* Center the content horizontally */
  align-items: top; /* Center the content vertically */
  display: flex;
}